@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --font-primary: 'Inter', sans-serif;

  --color-primary: #0a66c2;
  --color-primary-hover: #004182;
  --color-secondary: #1a73e8;
  --color-secondary-hover: #70b5f91a;

  --color-white: #ffffff;

  --color-text-dark: #323130;
  --color-text-muted: #00000099;
  --color-text-hover: #191919;

  --color-border-light: #00000033;
  --color-border-dark: #000000bf;

  --color-footer-bg: #f3f2f0;

  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 15px;
  --font-size-xl: 48px;

  --radius-pill: 20px;
  --radius-md: 24px;

  --spacing-xs: 4px;
  --spacing-sm: 18px;
  --spacing-md: 24px;
  --spacing-lg: 35px;
}
